body {
    background-color: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}


.bg-purple {
    background-color: #3F2F96;
}

/* LOGIN */
.btn-purple {
    background-color: #3F2F96;
    color: white;
}

.bullet {
    width: 10px; 
    height: 10px; 
    background-color: #3F2F96; 
    border-radius: 50%;
}

.circle {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.circle1 {
  width: 100px;
  height: 100px;
  top: 200px;
  left: -10px;
}

.circle2 {
  width: 60px;
  height: 60px;
  top: 230px;
  left: 74px;
}

.circle3 {
  width: 20px;
  height: 20px;
  top: 210px;
  left: 100px;
}

.circle4 {
  width: 80px;
  height: 80px;
  top: 215px;
  right: -10px;
}

.circle5 {
  width: 40px;
  height: 40px;
  top: 250px;
  right: 60px;
}

.circle6 {
  width: 30px;
  height: 30px;
  top: 215px;
  right: 70px;
}

.floating-box {
  background-color: #099667; 
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-weight: bold;

  position: absolute;
  bottom: -40px; 
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  z-index: 10;
}

.row-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  color: #ffff;
}

.value {
  text-align: right;
  max-width: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.alamat-box {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 15px;
  width: 90%;
  max-width: 350px;
  margin: 60px auto 0 auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}


/* css geser button */
.slide-confirm-container {
  padding: 20px;
}

.slide-track {
  position: relative;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  overflow: hidden;
}

.slide-button {
  position: absolute;
  left: 0;
  top: 6px;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.slide-label {
  margin: 0 auto;
  z-index: 1;
  pointer-events: none;
}

